*{
  box-sizing:border-box;
}
h1{
  font-family: sans-serif;
}
.editor-container{
  display: flex;
  flex-direction: row;
}
.App{
  display:flex;
  /* align-items: center; */
  justify-content:center;
  flex-direction:column;
}